1. If name = ''' Hi How are you?

Starterd learning python.

It's really interesting.''' Then what is the output of following code

· name[:]

· name[-10:-5]

· name[3:12]

· name[12:3]

· name[5,6]

· name[-4:-12]

· name[::2]

· name[::-2]

In [ ]:
name = ''' Hi How are you?

Starterd learning python.

It's really interesting.'''

In [ ]:
print(name[:])
print(name[-10:-5])
print(name[3:12])
print(name[12:3])

print(name[-4:-12])
print(name[::2])
print(name[::-2])

 Hi How are you?

Starterd learning python.

It's really interesting.
teres
 How are


 iHwaeyu
Satr erigpto.
tsral neetn.
.nteen larst
.otpgire rtaS
uyeawHi

2. L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]

a. L1[:]

b. L1[::3]

c. L1[::-2]

d. How to extract value “Happy” based on index and negative index

e. How to check type of data in list at 4th position

f. Extract values for 100, 300, 400

In [ ]:
L1 = ['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
L1[::-2]

['major', 400, 100, 30, 'b']

In [ ]:
L1[::3]

['a', 30, 300, 'major']

In [ ]:
L1[8]

'Happy'

In [ ]:
L1[-2]

'Happy'

In [ ]:
type(L1[3])

int

In [ ]:
L1[5:8]

[100, 300, 400]

In [ ]:
[L1[5], L1[6], L1[7]]

[100, 300, 400]

3. If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following

· L2[4]

· L2[1:5]

· L2[7]

· L2[7][2]

· L7[7][2:]

· L2[ : 3]

· L2[3:]

In [ ]:
l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']
l2[4]

['a', 'b', 'work hard']

In [ ]:
l2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
l2[7]

'Success'

In [ ]:
l2[7][2]

'c'

In [ ]:
l2[7][2:]

'ccess'

In [ ]:
l2[ : 3]

[1, 2, 3]

In [ ]:
l2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
l2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

4. From the above l2 value ‘b’ must be changed to ‘BEE’.

In [ ]:
l2[4][1]="BEE"

In [ ]:
l2.remove('BEE')

ValueError: list.remove(x): x not in list

In [ ]:
l2

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

5. From l2 “BEE” has to discard.

In [ ]:
l2[4].remove('BEE')

In [ ]:
#6. In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}

l2.append({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})

In [ ]:
l2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

7. From l2 extract insect information.

In [ ]:
l2[8]['insect']

['bee', 'moth']

In [ ]:
#8. Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2
d1 = {'a':10, 'b':20, 'c' : 30}
l2.insert(1,d1)

In [ ]:
l2

[1,
 {'a': 10, 'b': 20, 'c': 30},
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

8. Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2

In [ ]:
l2 = [1, 2, 3, 4]

l2.insert(1, d1)
print(l2)

[1, {'a': 10, 'b': 20, 'c': 30}, 2, 3, 4]

9. Based on new l2 created here extract the value 10 from l2 dictionary.

In [ ]:
value = l2[1]['a']
print(value)

10

10. If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following

· L2[4][2]

· L2[5][:]

· L2[2] [:]

· L2[1:5]

· L2[5]

· L2[5][3:-1]

· L2[-1]

· L2[-4, -3]

· L2[-4: -10]

· L2[7][2]

· L7[-7][[2:]

· L2[ :- 3]

· L2[-3:]

In [ ]:
l2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, 'Success', (200,300, 'Hundreds')]

In [ ]:
l2[4][2]

50

In [ ]:
l2[5][:]

'Python'

In [ ]:
l2[2][:]

TypeError: 'int' object is not subscriptable

In [ ]:
l2[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [ ]:
l2[5]

'Python'

In [ ]:
l2[5][3:-1]

'ho'

In [ ]:
l2[-1]

(200, 300, 'Hundreds')

In [ ]:
l2[-4, -3]

TypeError: list indices must be integers or slices, not tuple

In [ ]:
l2[-4: -10]

[]

In [ ]:
l2[7][2]

'work hard'

In [ ]:
l2[-7][2:]

'thon'

In [ ]:
l2[:-3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [ ]:
l2[-3:]

[200, 'Success', (200, 300, 'Hundreds')]

11. Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails

If marks are more than 80 output must be “You got distinction”

For marks more than 60 output must be “You got First class”

Marks more than 40 will display “You got second class”

Marks more than or equal to 35 “PASS” Otherwise Fail

In [ ]:
def grade():
    marks=input("Please enter marks ")
    if (marks.isalpha() or marks.isalnum()) and not  marks.isnumeric():
      return " Invalid input "
    else:
      marks=float(marks)
    if marks>100 or marks<0:
      return "marks out of bound"
    elif marks>80.0:
      grade="You got distinction"
    elif marks>60.0:
      grade="You got First Class"
    elif marks>40.0:
      grade="You got second class"
    elif marks>35.0:
      grade="PASS"
    else:
      grade="Fail"
    return grade
a=grade()
print(a)

Please enter marks 42.2
You got second class

In [ ]:
def grade():
    marks=input("Please enter marks ")

    try:
      marks=float(marks)
      if marks<0 or marks >100:
        raise Exception()

    except ValueError:
       return "alphabets are not allowed here "
    except Exception:
       return " Marks should be between o and 100"


    if marks>80.0:
      grade="You got distinction"
    elif marks>60.0:
      grade="You got First Class"
    elif marks>40.0:
      grade="You got second class"
    elif marks>35.0:
      grade="PASS"
    else:
      grade="Fail"
    return grade
a=grade()
print(a)

Please enter marks -78
 Marks should be between o and 100

12. Ask user to enter information about salary of the employee per year and rating received as A, B, C, D

If salary upto 5 lpa then increament based on ratings are A = 16% , B=12%, C= 10%, D=6%

If salary upto 10 lpa then increament based on ratings are A = 14% , B=10%, C= 8%, D=6%

If salary upto 15 lpa then increament based on ratings are A = 8% , B=6%, C= 4%, D = no increment

If salary upto 23 lpa then increament based on ratings are A = 7% , B=5%, C= 4%, D=no

In [ ]:
def salary():
      currsal=input("current sal")
      currrat=input("currrent rating recieved").upper()
      if currrat not in ['A', 'B', 'C', 'D']:
        return "Invalid rating"

      try:
        currsal=int(currsal)
      except ValueError:
        return "Salary must be numeric"

      if currsal>1500000:
        if currrat=='A':
          updatedsal=currsal*108/100
        elif currrat=='B':
          updatedsal=currsal*106/100
        elif currrat=='C':
          updatedsal=currsal*104/100
        elif currrat=='D':
          updatedsal=currsal*100/100
        else:
          return("Input correct rating")

      elif currsal>1000000:
        if currrat=='A':
          updatedsal=currsal*114/100
        elif currrat=='B':
          updatedsal=currsal*110/100
        elif currrat=='C':
          updatedsal=currsal*108/100
        elif currrat=='D':
          updatedsal=currsal*106/100
        else:
          return("Input correct rating")

      elif currsal>500000:
        if currrat=='A':
          updatedsal=currsal*116/100
        elif currrat=='B':
          updatedsal=currsal*112/100
        elif currrat=='C':
          updatedsal=currsal*110/100
        elif currrat=='D':
          updatedsal=currsal*106/100

      else:
        if currrat=='A':
          updatedsal=currsal*107/100
        elif currrat=='B':
          updatedsal=currsal*105/100
        elif currrat=='C':
          updatedsal=currsal*104/100
        elif currrat=='D':
          updatedsal=currsal*100/100
        else:
          return("Input correct rating")

      return updatedsal

In [ ]:
s=salary()
print(s)

current sal1200000
currrent rating recievedA
1368000.0

13. Ask user to opt for courses for master degree based on the following

L1 = [“HR”, “Finance”, “Marketing”, “DS”]

Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. Analytics is the optional subject and having added extra fees. DS is not having analytics.

If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.

If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .

Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.

User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

In [ ]:
L1 = ["HR", "Finance", "Marketing", "DS"]

subject = input("Enter subject: ").strip()
analytics = input("Analytics (Y/N): ").strip().upper()
hostel = input("Hostel (Y/N): ").strip().upper()
food_months = int(input("Food months: "))
transport = input("Transportation (semester/annual): ").strip().lower()

total_cost = 0


core_fee = 200000
analytics_fee = core_fee + (core_fee * 0.10)

if subject in ["HR", "Finance", "Marketing"]:
    if analytics == "Y":
        total_cost += analytics_fee
    else:
        total_cost += core_fee
elif subject == "DS":
    total_cost += core_fee
else:
    print("Invalid subject")


if hostel == "Y":
    total_cost += 200000


total_cost += food_months * 2000

if transport == "semester":
    total_cost += 13000
elif transport == "annual":
    total_cost += 26000

print("Total Annual Cost =", total_cost)

14. Digitalize the book allotment process for school. Charges are mentioned here in the given table:

In [ ]:
std_map = {
    1: '1to4',
    2: '5to8',
    3: '9to10'
}
bookcost = 0
notebookcost = 0
totalcost=0


books = {
    '1to4': {'hindi':60,'marathi':60,'english':60,'science':70,'maths':80},
    '5to8': {'hindi':60,'marathi':60,'english':60,'science':70,'maths':80},
    '9to10': {'hindi':60,'marathi':60,'english':60,'science':70,'maths':80}
}

notebooks = {
    '100pages': {'squares':40,'4lines':30,'2lines':30,'singleline':60,'a4':100},
    '200pages': {'squares':40,'4lines':30,'2lines':30,'singleline':60,'a4':100}
}

while(True):
    if totalcost>0:
      exit=int(input("press 1 to exit 2 to continue "))
      if exit==1:
        break
      elif exit==2:
        pass
      else:
        print("wrong input .Have a good day ")
        break
    booktype = input('enter books or notebooks: ').lower()

    if booktype == 'books':
        std = int(input('press 1 for 1to4, 2 for 5to8, 3 for 9to10: '))
        subject = input('enter subject: ').lower()
        bookquantity = int(input('enter book quantity: '))

        std_key = std_map.get(std)

        if std_key and subject in books[std_key]:
            bookcost = books[std_key][subject] * bookquantity
        else:
            print("Invalid standard or subject")

    elif booktype == 'notebooks':
        notebooktype = input('enter 100pages or 200pages: ').lower()
        notebooklinetype = input('enter notebook line type: ').lower()
        notebookquantity = int(input('enter notebook quantity: '))

        if notebooktype in notebooks and notebooklinetype in notebooks[notebooktype]:
            notebookcost = notebooks[notebooktype][notebooklinetype] * notebookquantity
        else:
            print("Invalid notebook type or line type")

    else:
        print("Invalid input")

    totalcost = totalcost+bookcost + notebookcost
    print("Total Cost:", totalcost)

In [ ]:
class Book_allotment:
   def __init__(self):

      # self.std_map = {
      #     1: '1to4',
      #     2: '5to8',
      #     3: '9to10'
      # }
      self.bookcost = 0
      self.notebookcost = 0
      self.totalcost=0

   @classmethod
   def initialization(cls):
      cls.std_map = {
          1: '1to4',
          2: '5to8',
          3: '9to10'
      }

      cls.books = {
          '1to4': {'hindi':60,'marathi':60,'english':60,'science':70,'maths':80},
          '5to8': {'hindi':60,'marathi':60,'english':60,'science':70,'maths':80},
          '9to10': {'hindi':60,'marathi':60,'english':60,'science':70,'maths':80}
      }

      cls.notebooks = {
          '100pages': {'squares':40,'4lines':30,'2lines':30,'singleline':60,'a4':100},
          '200pages': {'squares':40,'4lines':30,'2lines':30,'singleline':60,'a4':100}
      }
   def order(self):
      while(True):
          if self.totalcost>0:
            exit=int(input("press 1 to exit 2 to continue "))
            if exit==1:
              break
            elif exit==2:
              pass
            else:
              print("wrong input .Have a good day ")
              break
          self.booktype = input('enter books or notebooks: ').lower()

          self.bookcost = 0
          self.notebookcost = 0

          if self.booktype == 'books':
              std = int(input('press 1 for 1to4, 2 for 5to8, 3 for 9to10: '))
              subject = input('enter subject: ').lower()
              self.bookquantity = int(input('enter book quantity: '))

              std_key = self.std_map.get(std)

              if std_key and subject in self.books[std_key]:
                  self.bookcost = self.books[std_key][subject] * self.bookquantity
              else:
                  print("Invalid standard or subject")

          elif self.booktype == 'notebooks':
              self.notebooktype = input('enter 100pages or 200pages: ').lower()
              self.notebooklinetype = input('enter notebook line type: ').lower()
              self.notebookquantity = int(input('enter notebook quantity: '))

              if self.notebooktype in self.notebooks and self.notebooklinetype in self.notebooks[self.notebooktype]:
                  self.notebookcost = self.notebooks[self.notebooktype][self.notebooklinetype] * self.notebookquantity
              else:
                  print("Invalid notebook type or line type")

          else:
              print("Invalid input")

          self.totalcost = self.totalcost+self.bookcost + self.notebookcost
          print("Total Cost:", self.totalcost)

In [ ]:
obj=Book_allotment()
Book_allotment.initialization()

In [ ]:
obj.order()

enter books or notebooks: books
press 1 for 1to4, 2 for 5to8, 3 for 9to10: 3
enter subject: hindi
enter book quantity: 3
Total Cost: 180
press 1 to exit 2 to continue 1

10. Create the empty list snames

· Add value 20 in the list using append

· Add value 30 in the list using extend

· Add values in the list using append

· Add value “WORK" in the list using extend

· Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3]

· Add sname to combo using addition operator

· Add combo to snames using append

· Add combo to snames using extend.

In [ ]:
li=[]

In [ ]:
li.append(20)

In [ ]:
li

[20]

In [ ]:
li.extend([30])

In [ ]:
li

[20, 30]

In [ ]:
li.append([40,50])

In [ ]:
li

[20, 30, [40, 50]]

In [ ]:
for i in range(50,80,5):
  li.append(i)

In [ ]:
li

[20, 30, [40, 50], 50, 55, 60, 65, 70, 75]

In [ ]:
li.extend(['work'])

In [ ]:
li

[20, 30, [40, 50], 50, 55, 60, 65, 70, 75, 'work']

In [ ]:
li.extend('work')

In [ ]:
li

[20, 30, [40, 50], 50, 55, 60, 65, 70, 75, 'work', 'w', 'o', 'r', 'k']

In [ ]:
combo=list([1, 'a', 'b' ,2 , 3])

In [ ]:
combo

[1, 'a', 'b', 2, 3]

In [ ]:
a=combo+li

In [ ]:
a

[1,
 'a',
 'b',
 2,
 3,
 20,
 30,
 [40, 50],
 50,
 55,
 60,
 65,
 70,
 75,
 'work',
 'w',
 'o',
 'r',
 'k']

In [ ]:
app=combo.append(li)

In [ ]:
print(app)

None

In [ ]:
ex=li.extend(combo)

In [ ]:
ex

11. Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1

In [ ]:
l1=[1,2]
l3=[1,2,3,4,5,6,7]
l3.insert(3,l1)

In [ ]:
l3

[1, 2, 3, [1, 2], 4, 5, 6, 7]

12. Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.

· From the collection delete the record for “Nisha”

· Find the location of 20.50

In [ ]:
collection=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
j=0
for i in collection:
  if type(i) in (int, float):
    collection[j]=i*5
  j=j+1

In [ ]:
collection

[5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]

In [ ]:
collection.remove('Nisha')

ValueError: list.remove(x): x not in list

In [ ]:
collection

[5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]

Note -- values are updated .. 20.50 has changed

In [ ]:
collection.index(20.50)

ValueError: 20.5 is not in list

13. Create a comprehensive list for square upto 10

In [ ]:
squares=[x*x for x in range(1,11)]

In [ ]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

14. Create the comprehensive list to find number divisible by 13 till 200

In [ ]:
divnum=[i for i in range(1,201) if i%13==0]

In [ ]:
divnum

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

15. Create the list which is divisible by 4 from 300 to 400

In [ ]:
div4=[x for x in range(300,401) if x%4==0]

In [ ]:
div4

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400]

16. Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]

Then generate a new list based on all combination of x and y.

For example: if x = 1 and y =2 then x_list = [0] and y_list = [0,1]

And output will be [[0,0],[0,1]]


If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

In [ ]:
x = int(input("Enter x: "))
y = int(input("Enter y: "))

x_list = list(range(x))
y_list = list(range(y))

result = [[i, j] for i in x_list for j in y_list]

print(result)

Enter x: 3
Enter y: 2
[[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1]]

In [ ]:
#17. What is the difference between add and update methods in set?
s = {1, 2}

s.add(3)
print(s)

s.update([4, 5])
print(s)

{1, 2, 3}
{1, 2, 3, 4, 5}

In [ ]:
#18. What is the difference between append and extend methods in list?
l = [1, 2]

l.append([3, 4])
print(l)     # [1, 2, [3, 4]]

l = [1, 2]
l.extend([3, 4])
print(l)     # [1, 2, 3, 4]

[1, 2, [3, 4]]
[1, 2, 3, 4]

In [ ]:
#19. What is the difference between pop and remove methods?
l = [10, 20, 30]

l.pop()
print(l)

l.remove(20)
print(l)

[10, 20]
[10]

In [ ]:
#20. What is the difference between discard, pop, remove methods?
s = {10, 20, 30}

s.remove(20)
s.discard(40)
s.pop()

10

In [ ]:
#21. How to create empty set?
s=set()

In [ ]:
#22. Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
print(s1.union(s2))
print(s1 | s2)
print(s1.intersection(s2))
print(s1 & s2)

print(s1.difference(s2))

print(s1 - s2)
print(s2.difference(s1))
print(s2 - s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [ ]:
#23. Create l2 as a list and perform set operation on s1 with l1
s1 = {1, 2, 3, 4}
l2 = [3, 4, 5, 6]

s2 = set(l2)

print("Union", s1 | s2)
print("Intersection", s1 & s2)
print("Difference s1-s2", s1 - s2)
print("Difference s2-s1", s2 - s1)

Union {1, 2, 3, 4, 5, 6}
Intersection {3, 4}
Difference s1-s2 {1, 2}
Difference s2-s1 {5, 6}

In [ ]:
#24. Ask user to enter the name and DOB and generate the password based on first name 4 characters and @ddmm. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

name = input("Enter name: ").upper()
dob = input("Enter DOB (dd-mm-yyyy): ")

first_four = name[:4]
ddmm = dob[:5].replace("-", "")

password = first_four + "@" + ddmm

print("Generated Password:", password)

Enter name: harsh
Enter DOB (dd-mm-yyyy): 07-02-2001
Generated Password: HARS@0702

In [ ]:
#25. Ask user to enter the name and DOB and generate the password based on first name 4 characters and last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978
name = input("Enter name: ").upper()
dob = input("Enter DOB (dd-mm-yyyy): ")

first_four = name[:4]
year = dob[-4:]

password = first_four + "@" + year

print("Generated Password:", password)

Enter name: harsh
Enter DOB (dd-mm-yyyy): 07-02-2001
Generated Password: HARS@2001

In [ ]:
#patterns
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

In [ ]:
for i in range(6,1,-1):
  print("*"*i)

******
*****
****
***
**

28. Str_val = “ABCD” then create the format as mentioned below:

A

A B

A B C

A B C D

In [ ]:
str_val="ABCD"
substr=""
for i in str_val:
  substr=substr+" "+i
  print(substr)

 A
 A B
 A B C
 A B C D

In [ ]:
substr="abcd"
for index,i in enumerate(substr,1):
  print(i*index)

a
bb
ccc
dddd

30. Create the format mentioned below:

1

22

333

4444

In [ ]:
substr="1234"
for index,i in enumerate(substr,1):
  print(i*index)

1
22
333
4444

31. Val = “ABCD” based on the Val, create the format mentioned below

D

DC

DCB

DCBA

In [ ]:
val = "ABCD"
rev = val[::-1]

for i in range(1, len(rev) + 1):
    print(rev[:i])

D
DC
DCB
DCBA

32. Ask user to enter the string. If string is UPGRAD then output must be

D

DA

DAR

DARG

DARGP

DARGPU

In [ ]:
reversedstr=""
inputstr=input("enterrr string")
for i in range(len(inputstr)-1,-1,-1):
  reversedstr=reversedstr+(inputstr[i])
  print(reversedstr)

enterrr stringupgrad
d
da
dar
darg
dargp
dargpu

33. Create a list of odd numbers from 1 to 10

1. Using for loop

2. Using comprehensive list

In [ ]:
odd_numbers = []

for i in range(1, 11):
    if i % 2 != 0:
        odd_numbers.append(i)

print(odd_numbers)



odd_numbers = [i for i in range(1, 11) if i % 2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

34. Create even number list using for loop from 200 to 250

In [ ]:
even_numbers = []

for i in range(200, 251):
    if i % 2 == 0:
        even_numbers.append(i)

print(even_numbers)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

35. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

Multiply each and every element by 2 and display the answer

In [ ]:
List2 = [2, 70, 'work', 'para', 2.5,
         [1, 2, 3],
         (1, 2),
         {1, 2},
         {1: 'a', 2: 'b'},
         3, 10, 302.5]

result = []

for item in List2:
    if isinstance(item, (int, float, str, list, tuple)):
        result.append(item * 2)
    elif isinstance(item, set):
        result.append({x * 2 for x in item})
    elif isinstance(item, dict):
        result.append({k * 2: v for k, v in item.items()})

print(result)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {2, 4}, {2: 'a', 4: 'b'}, 6, 20, 605.0]

In [ ]:
#40. Create a function to generate auto-password based on specific person details.
#Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.

In [ ]:
def autopass():
  name=input("enter name ")
  dob=input("date of birth in dd-mm-yyyy format")

  dob=dob.replace("-","")
  print(dob)

  password=name[0:4]+dob[-4:]
  return password
paskey=autopass()
print(paskey)

enter name harsh
date of birth in dd-mm-yyyy format07-02-2001
07022001
hars2001

41. Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.

For example:

{}

{1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}


{1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},

2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}

In [ ]:
details={}

In [ ]:

def customer_details():
  name=input("enter name")
  dob=input("enter dob")
  mobilenum=input("enter number")

  if(len(details.keys()) == 0):
    details.update({1:{"name":name,"dob":dob,"mobilenumber":mobilenum}})

  else:
    details.update({len(details.keys())+1:{"name":name,"dob":dob,"mobilenumber":mobilenum}})


customer_details()

enter nameharsh
enter dob07-02-2001
enter number0000000000000

In [ ]:
details

{1: {'name': 'harsh', 'dob': '07-02-2001', 'mobilenumber': '99999999'},
 2: {'name': 'harsh', 'dob': '07-02-2001', 'mobilenumber': '0000000000000'}}

In [ ]:
#49. Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 ….. upto 100
def fibinacci():
  a=0
  b =1
  fiboseries=[0,1]
  num=int(input("enter upto what number do u want fibo series"))
  currfibo=0
  while((a+b)<num):
    currfibo=a+b
    a,b=b,currfibo
    fiboseries.append(currfibo)

  print(fiboseries)

In [ ]:
fibinacci()

enter upto what number do u want fibo series100
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
#50. Write a code to generate factorial of the number For example: factorial of 5 = 5! = 5*4*3*2*1

def fact(n):
  fact=1
  for i in range(2,n+1):
    fact=fact*i
  print(fact)

In [ ]:
fact(5)

120

In [ ]:
#53. There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.
def similarwords(l1,l2):
  common=[]
  for  i in l1:
    for j in l2:
      if j==i:
        common.append(j)
  print(common)

In [ ]:
similarwords([1,2,3,4,5],[3,2,8,7,9])

[2, 3]

                                                                    OR

In [ ]:
common=[j for i in [1,2,3,4,5] for j in [3,2,8,7,9] if j==i]

In [ ]:
common

[2, 3]

In [2]:
#  56  	Build a function to print bill. Generate the bill as mentioned below.

In [3]:
def bill_layout():
    total=0
    print("|" + "-"*60+ "|")
    print("|{:^60}|".format("Welcome to Hotel Shinde's"))
    print("|"+"-" * 60+"|")
    print("|{:<30}{:>30}|".format("Order id :", "Receipt"))
    print("|"+"-" * 60+"|")
    print("|{:<10}{:<21}{:>10}{:>19}|".format("sr","Menu","Quant","Price"))
    # a=len(order_bill)
    menu=['Idli','sandwhich']
    price=[190,100]
    for i in range(1,len(menu)+1):
      print("|{:<6}{:<25}{:>10}{:>19}|".format(i,menu[i-1],"1",price[i-1]))
      total=total+price[i-1]

    print("|"+"-" * 60+"|")
    print("|{:>15}{:>45}|".format("Total",total))
    print("|"+"-" * 60+"|")

In [4]:
bill_layout()

|------------------------------------------------------------|
|                 Welcome to Hotel Shinde's                  |
|------------------------------------------------------------|
|Order id :                                           Receipt|
|------------------------------------------------------------|
|sr        Menu                      Quant              Price|
|1     Idli                              1                190|
|2     sandwhich                         1                100|
|------------------------------------------------------------|
|          Total                                          290|
|------------------------------------------------------------|