Write a list comprehension to generate squares of numbers from 1 to 10.

In [ ]:
squares=[x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Create a list of even numbers between 1 and 50 using list
comprehension.

In [ ]:
even_num=[i for i in range(1,21) if i%2==0]
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Convert all strings in a list to uppercase using list comprehension.

In [ ]:
list_str=['harsh','shinde']
converted_str=[x.upper() for x in  list_str]
print(converted_str)

['HARSH', 'SHINDE']

Given a list of integers, create a new list that contains only the positive
numbers.

In [ ]:
list_num=[1,2,3,-6,-7,-8]
converted_num=[x for x in list_num if x>=0]
print(converted_num)

[1, 2, 3]

Create a list of tuples (num, num^2) for numbers 1 to 5.

In [ ]:
listoftuple=[(x,x**2) for x in range(1,6)]
print(listoftuple)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

Extract all vowels from a given string using list comprehension.

In [ ]:
name='Harsh Shinde'
vowels=[i for i in name if i in ('a','e','i','o','u')]
print(vowels)

['a', 'i', 'e']

Flatten a 2D list using list comprehension.

In [ ]:
d_list=[1,2,3,4,[6,7,8],9]
flatten = [y for x in d_list for y in (x if isinstance(x, list) else [x])]
print(flatten)

[1, 2, 3, 4, 6, 7, 8, 9]

Replace all negative numbers in a list with 0 using list comprehension.

In [ ]:
list_num=[1,2,3,-6,-7,-8]
replace_list=[0 if x<0 else x  for x in list_num]
print(replace_list)

[1, 2, 3, 0, 0, 0]

 Given a list of words, create a list of lengths of each word.

In [ ]:
list_words=['harsh','shinde','rakesh','menon']
list_len=[len(x) for x in list_words]
print(list_len)

[5, 6, 6, 5]

Filter out words that start with the letter 'A' or 'a'.

In [ ]:
list_words=['arsh','shinde','Arakesh','menon']
filter=[x for x in list_words if x[0] in ('A','a')]
print(filter)

['arsh', 'Arakesh']

From a list of numbers, generate a list of “even” or “odd” strings using
list comprehension.

In [ ]:
list_num=[1,2,3,4,5,6,7,8]
list_str=["even" if x%2==0 else "odd" for x in list_num]
print(list_str)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

. Create a list of numbers divisible by both 3 and 5 in range 1–100

In [ ]:
list_num=[x for x in range(1,101) if x%3==0 and x%5==0]
print(list_num)

[15, 30, 45, 60, 75, 90]

 Write a nested list comprehension to generate a multiplication table
for 1–5

In [ ]:
multiply=[x*y for x in range(1,6) for y in range(1,11)]
print(multiply)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

 Convert a dictionary’s keys into a list using list comprehension.

In [ ]:
d1={"name":'harsh',"age":25,"place":"mumbai"}
dic=[x for x in d1.keys()]
print(dic)

['name', 'age', 'place']

Extract numeric digits from a string using list comprehension.

In [ ]:
alphanum='str123gh45   fdfs'
numlist=[x for x in alphanum if x.isdigit()]
print(numlist)

['1', '2', '3', '4', '5']

 Use list comprehension to remove all spaces from a string

In [ ]:
alphanum = 'str123gh45 fdfs'
no_space = ''.join([ch for ch in alphanum if ch != ' '])
print(no_space)

str123gh45fdfs

. Create a list of characters that appear more than once in a string.

In [ ]:
s = "harsh shinde"
duplicates = list({ch for ch in s if s.count(ch) > 1})
print(duplicates)

['h', 's']

 From a list of sentences, generate a list of all words (split using list
comprehension).

In [ ]:
sentences = [
    "Hii , how are you ",
    "Hope u are fine ",
    "Doing good"
]

Create a list of unique elements from a list using list comprehension +
condition.

In [ ]:
nums = [1, 2, 2, 3, 4, 4, 5, 1]

unique = []
[unique.append(x) for x in nums if x not in unique]

print(unique)

[1, 2, 3, 4, 5]

Generate all pairs (x, y) where x is from list A and y is from list B
(cartesian product).

In [ ]:
A = [1, 2, 3]
B = ['a', 'b']
pairs = [(x, y) for x in A for y in B]
print(pairs)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

Lambda Function

Write a lambda to add two numbers.

In [ ]:
x = lambda x, y: x + y
print(x(4,5))

9

Create a lambda to check if a number is even.

In [ ]:
x = lambda x: "EVEN" if x%2==0 else "odd"
print(x(5))

odd

Write a lambda to get the last character of a string

In [ ]:
y=lambda s:s[-1]
y('harshs')

's'

Use lambda with map() to square every number in a list

In [ ]:
li = [1,2,3,4,5,6]
squares = lambda lst: map(lambda x: x**2, lst)
print(list(squares(li)))

[1, 4, 9, 16, 25, 36]

Use lambda with filter() to get only odd numbers from a list.

In [ ]:
li = [1,2,3,4,5,6]
odd = lambda st: filter(lambda x: x%2!=0, st)
print(list(odd(li)))

[1, 3, 5]

Use sorted() + lambda to sort a list of tuples by second value.

In [ ]:
data = [(1, 5), (2, 2), (3, 8), (4, 1)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(4, 1), (2, 2), (1, 5), (3, 8)]

Create a lambda to check if a string is a palindrome.

In [ ]:
check_palin = 'salas'
result = lambda x: x == x[::-1]
print(result(check_palin))

True

. Use lambda to find maximum of three numbers.

In [ ]:
maximum = lambda a, b, c: max(a, b, c)

print(maximum(10, 25, 7))

25

Write a lambda to reverse a string.

In [ ]:
test_str='harsh shinde'
reverse=lambda x : x[::-1]
reverse(test_str)

'ednihs hsrah'

. Use lambda with map() to convert a list of strings to integers.

In [ ]:
str_list = ['1', '23', '45', '6']
int_list = list(map(lambda x: int(x), str_list))
print(int_list)

[1, 23, 45, 6]

 Use lambda with filter() to remove empty strings from a list

In [ ]:
str_list = ["harsh ", "", "shinde", "", "hii"]
filtered_list = list(filter(lambda x: x != "", str_list))
print(filtered_list)

['harsh ', 'shinde', 'hii']

. Use lambda to compute factorial using reduce() (yeah, that one-liner
madness).

In [ ]:
from functools import reduce

n = 5
factorial = reduce(lambda x, y: x * y, range(1, n + 1))
print(factorial)

120

Write a lambda that returns the larger of two numbers.

In [ ]:
largest=lambda x,y:x if x>y else y
largest(4,5)

5

Use lambda to check if number is divisible by 5.

In [85]:
check=lambda num:num%5==0
check(500)

True

Use lambda + map() to add 10 to each element of a list.

In [86]:
li=[1,2,3,4,5]
add=list(map(lambda l:l+10,li))
print(add)

[11, 12, 13, 14, 15]

Use lambda to sort a list of dictionaries by a key (like "age").

In [87]:
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 20},
    {"name": "Charlie", "age": 30}
]
sorted_people = sorted(people, key=lambda x: x["age"])
print(sorted_people)

[{'name': 'Bob', 'age': 20}, {'name': 'Alice', 'age': 25}, {'name': 'Charlie', 'age': 30}]

 Write a lambda that returns True if a character is a vowel.

In [88]:
is_vowel = lambda ch: ch.lower() in 'aeiou'

print(is_vowel('a'))
print(is_vowel('b'))
print(is_vowel('E'))

True
False
True

Use lambda + filter to extract words of length > 5 from a list

In [89]:
words = ["harsh", "shinde", "chersdfghjklry"]

long_words = list(filter(lambda w: len(w) > 5, words))

print(long_words)

['shinde', 'chersdfghjklry']

Use lambda to calculate the area of a circle (πr²).

In [90]:
import math

area = lambda r: math.pi * r**2
radius = 5
print(area(radius))

78.53981633974483

Write a lambda to remove duplicates from a list using filter + set.

In [92]:
lst = [1, 2, 2, 3, 4, 4, 5]
seen = set()
unique = list(filter(lambda x: x not in seen and (seen.add(x) is None), lst))
print(unique)

[1, 2, 3, 4, 5]

Use lambda with reduce() to find the product of all numbers in a list.

In [93]:
from functools import reduce

nums = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x * y, nums)
print(product)

120

Write a lambda that returns absolute value of a number.

In [94]:
abs_val = lambda x: x if x >= 0 else -x

print(abs_val(-7))
print(abs_val(5))

7
5

 Use lambda to sort a list of strings by their length

In [95]:
words = ["harsh", "shinde", "sdfghjk"]
sorted_words = sorted(words, key=lambda x: len(x))
print(sorted_words)

['harsh', 'shinde', 'sdfghjk']

Use lambda to get only uppercase characters from a string.

In [96]:
text = "Harsh ShINDE"
uppercase_chars = ''.join(filter(lambda c: c.isupper(), text))
print(uppercase_chars)

HSINDE

Write a lambda that returns the square if number is even, cube if odd.

In [99]:
f = lambda x: x**2 if x % 2 == 0 else x**3
print(f(4))
print(f(3))

16
27

Use lambda with map to convert Celsius to Fahrenheit.

In [100]:
celsius = [0, 20, 37, 100]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 98.6, 212.0]

Write a lambda to check if two strings are anagrams

In [101]:
is_anagram = lambda s1, s2: sorted(s1.replace(" ", "").lower()) == sorted(s2.replace(" ", "").lower())

print(is_anagram("listen", "silent"))
print(is_anagram("hello", "world"))

True
False

Use lambda to extract only numeric values from a mixed list.

In [102]:
mixed_list = [1, "hello", 3.5, "world", 10, "123"]
numeric_values = list(filter(lambda x: isinstance(x, (int, float)), mixed_list))
print(numeric_values)

[1, 3.5, 10]

 Use lambda inside any() to check if any list element is negative

In [103]:
numbers = [3, 5, -2, 7, 0]
hasnegative = any(map(lambda x: x < 0, numbers))
print(hasnegative)

True

Use lambda to generate a function that multiplies any number by n

In [104]:

multiply_by = lambda n: (lambda x: x * n)
times3 = multiply_by(3)
times5 = multiply_by(5)

print(times3(10))
print(times5(4))

30
20